html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(bg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20vh;
    display: flex;
    font-size: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: black 0.2vw 0.4vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #fff;
}

.kosseq {
    font-size: 7vw;
    margin-bottom: 5vh;
}

.socials {
    display: flex;
    align-items: center;
    font-size: 3.5vw;
}

.socials img {
    vertical-align: middle;
    width: 4vw;
    height: auto;
    margin-right: 0.7vw;
}

.yt:hover {
    color: rgb(233, 46, 46);
    filter: drop-shadow(1px 1px 7px rgba(255, 0, 0, 0.5));
}

.dc:hover {
    color: #7289da;
    filter: drop-shadow(1px 1px 7px rgba(114, 137, 218, 0.5));
}

.tw:hover {
    color: #bf94ff;
    filter: drop-shadow(1px 1px 7px rgba(191, 148, 255, 0.5));
}

.socials a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 1.2vw;
}

.dev {
    font-size: 2vw;
    margin-top: 40vh;
}

a.kosseq {
    font-size: 2vw;
    text-decoration: none;
    padding-left: 5px;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    color: var(--glow-color);
    outline: none;
    text-shadow: 0 0 .5em var(--glow-color);
    position: fixed;
    transition: all 0.3s;
   }
  
   a.kosseq:hover {
    font-size: 2vw;
    color: red;
    --glow-color: rgb(255, 69, 69);
    --glow-spread-color: rgba(255, 0, 0, 0.781);
    --enhanced-glow-color: rgb(255, 0, 0);
    color: var(--glow-color);
    outline: none;
    text-shadow: 0 0 .5em var(--glow-color);
    position: fixed;
    transition: all 0.3s;
   }